/* Ship Your Package Starts */

.image-input {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    top: -8px;
    left: 7px;
    width: 50px;
    height: 50px;
}

.image-input-1 {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    top: -4px;
    left: 13px;
    width: 40px;
    height: 40px;
}

.image-input-2 {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    top: -4px;
    right: 40px;
    width: 40px;
    height: 40px;
}

.profile-1 {
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 40px;
    padding: 6px;
}

.profile-4 {
    color: #000;
    border-radius: 0px;
    padding: 4px;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 0px;
    background-color: #DDD;
}

.profile-3 {
    color: #000;
    background-color: #ffffff;
    border-radius: 0px;
    padding: 5px 5px;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 0px;
}

.profile-5 {
    color: #FFFFFF;
    background-color: #cf2a27;
    border-radius: 0px;
    padding: 10px 50px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 65px;
}

.profile {
    color: #FFFFFF;
    background-color: #0b97c4;
    border-radius: 0px;
    padding: 6px 15px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: -16px;
}

.show-map {
    color: #FFFFFF;
    background-color: #0b97c4;
    border-radius: 0px;
    padding: 6px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: -19px;
}

.table-btn {
    background-color: #e87906;
    color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    padding: 4px;
}

.green_circle {
    background-color: green;
    border-radius: 25px;
    width: 15px;
    height: 15px;
    float: right;
    margin-left: 0px;
    margin-top: 3px;
    margin-right: 26px;
}

.tdline {
    border-top: none;
}

.main-box {
    margin-top: 94px;
    border: 1px solid #000;
    padding: 15px 10px;
    margin-left: -89px;
    margin-right: -44px;
}

.head-package {
    position: absolute;
    top: 46px;
}

.image-input {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    top: -8px;
    left: 7px;
    width: 50px;
    height: 50px;
}

.image-input-1 {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    top: -4px;
    left: 13px;
    width: 40px;
    height: 40px;
}

.image-input-2 {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    top: -4px;
    right: 40px;
    width: 40px;
    height: 40px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 1px 2px;
}

.sidenav[_ngcontent-xtn-3] {
    height: 700px;
}

input::-webkit-input-placeholder {
    color: #12a6f1 !important;
    font-weight: 400;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: #12a6f1 !important;
    font-weight: 400;
}

input::-moz-input-placeholder {
    /* Firefox 19+ */
    color: #12a6f1 !important;
    font-weight: 400;
}

input:-ms-input-placeholder {
    color: #12a6f1 !important;
    font-weight: 400;
}

.modal {
    display: block;
}

sebm-google-map {
    height: 300px;
}

.modal-content {
    box-shadow: none;
}

.backdrop {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #FFFFFF;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.image-input-info {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    top: 0px;
    right: 40px;
    width: 35px;
    height: 35px;
}

.save {
    color: #FFFFFF;
    background-color: #337ab7;
    border-radius: 5px;
    padding: 7px 16px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 13px;
    letter-spacing: 1px;
    margin-left: -6px;
}

.map_cursor:hover {
  cursor: pointer;
  background-color: #FFF;
}
.map_cursor:focus {
  background-color: #FFF;
  border: #FFF;
}
/* Ship Your Package Ends */
