<!-- Start -->
<div class="row" style="margin-top: 50px;margin-left: -5px;">
    <div class="col-lg-12">
        <h4>Ship Your Package:</h4>
    </div>
</div>
<div class="row" style="border: 2px solid #000;margin-left: 10px;padding: 5px;">
    <div class="col-lg-9" style="padding-left: 5px;margin-top: 2px;">
        <div style="height: 100%;border: 1px solid #000;padding: 10px;">
            <form class="form-signin" (ngSubmit)="onSubmit(f)" #f="ngForm">
                <p style="color:#5d6163;">Step 1</p>
                <div class="row">
                    <div class="col-xs-2 col-sm-3 col-md-4">
                        <div class="form-group has-feedback">
                            <label for="search" class="sr-only">Search</label>
                            <span class="glyphicon glyphicon-search form-control-feedback" style="left: 0;"></span>
                            <input type="text" #pick id="address" class="form-control" [(ngModel)]="pickAddress" name="pickAddress" placeholder="Pick Up Address" onclick="return false" style="padding-left: 30px;border-radius: 25px;border: 1px solid #31708f;" required>
                            <span class="glyphicon glyphicon-map-marker form-control-feedback" title="Map Location"></span>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-1 col-md-1">
                        <button class="btn btn-default map_cursor" type="submit" onclick="return false" (click)="show_map()" style="border: none;"><img [src]="imagemap" class="image-input-info map_cursor" type="image/png" /></button>
                    </div>
                    <div class="col-xs-2 col-sm-1 col-md-1">
                        <p style="font-size: 18px;margin-top:7px;margin-left: 24px;">To</p>
                    </div>
                    <div class="col-xs-2 col-sm-3 col-md-4">
                        <div class="form-group has-feedback">
                            <label for="search" class="sr-only">Search</label>
                            <span class="glyphicon glyphicon-search form-control-feedback" style="left: 0;"></span>
                            <input type="text" id="address_drop" class="form-control" [(ngModel)]="dropAddress" name="dropAddress" placeholder="Drop Address" onclick="return false" style="padding-left: 30px;border-radius: 25px;border: 1px solid #31708f;" required>
                            <span class="glyphicon glyphicon-map-marker form-control-feedback" title="Map Location"></span>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-1 col-md-1">
                        <!-- <input type="submit" class="btn btn-default" value="Show Map" /> -->
                        <button class="btn btn-default map_cursor" type="submit" onclick="return false" (click)="show_map()" style="border: none;"><img [src]="imagemap" class="image-input-info map_cursor" type="image/png" /></button>
                    </div>
                    <!--<img [src]="imagemap" class="image-input-2" type="image/png" />-->
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-2 col-sm-2 col-md-3">
                        <img [src]="imageBag" class="image-input" type="image/png" />
                        <input type="text" class="form-control" [(ngModel)]="name" name="itemName" style="margin-left: 40px;" placeholder="Item Name" required>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-3 col-md-offset-3 ">
                        <img [src]="imageusericon" class="image-input" type="image/png" />
                        <input type="text" class="form-control" [(ngModel)]="receiverName" name="receiverName" style="margin-left: 40px;" placeholder="Recepiant Name" required>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-2 col-sm-2 col-md-3">
                        <img [src]="imageupload" class="image-input" type="image/png" />
                        <input type="file" class="profile-1" id="Picture" style="margin-left: 35px;" accept="image/*" imageUpload (imageSelected)="selected($event)" [resizeOptions]="resizeOptions">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-3 col-md-offset-3">
                        <img [src]="imagecall" class="image-input" type="image/png" />
                        <input type="text" class="form-control" [(ngModel)]="receiverPhone" name="receiverPhone" maxlength="10" style="margin-left: 40px;" placeholder="Phone Number" required>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-2 col-sm-2 col-md-3">
                        <img [src]="imagecall" class="image-input" type="image/png" />
                        <input type="text" class="form-control" [(ngModel)]="description" name="itemDescription" style="margin-left: 40px;" placeholder="Description" required>
                    </div>
                </div>
                <div class="row">
                    <hr/>
                    <p style="color:#5d6163;margin-left:16px;">Step 2</p>
                    <div class="col-xs-2 col-sm-2 col-md-12">
                        <div class="form-group">
                            <label>Payment Method:</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-12">
                        <div class="col-xs-12 col-sm-3 col-md-3" *ngFor="let item of paymentMethod;let i = index" [attr.data-index]="i">
                            <div class="btn profile-4" (click)="payments(i)" [style.background-color]="payment_index(i)">{{item}}</div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-2 col-sm-2 col-md-12">
                        <div class="form-group">
                            <label>Shipping Option:</label>
                            <label style="float:right;margin-right: 85px;font-size: 22px;">&#8377; {{this.deliverycharge}}/-</label>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-12">
                        <div class="col-xs-3 col-sm-3 col-md-3" *ngFor="let shipping of shippingOptions;let i = index" [attr.data-index]="i">
                            <div class="btn profile-4" (click)="shipping_indexs(i)" [style.background-color]="shipping_index(i)">{{shipping}}</div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left:-20px;margin-top: 25px;">
                    <div class="col-xs-2 col-sm-12 col-md-12">
                        <div class="col-xs-2 col-sm-2 col-md-6 col-md-offset-2">
                            <button class="btn profile-5" type="submit" [disabled]="!f.valid">SHIP</button>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2" style="float: right;margin-right: 40px;">
                            <button class="btn save" type="submit" onclick="return false">SAVE</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-3" style="border-left: 1px solid;margin-top: -7px;margin-bottom: -5px;">
        <div style="height: 100%;">
            <div class="box-recent" style="margin-right: -5px;">
                <h4 style="letter-spacing: 1px;color: #000;">Recent Orders</h4>
                <div class="row">
                    <table class="table" align="center">

                        <tr *ngFor="let item of order_History">
                            <td>
                                <table align="center" class="table">
                                    <tr>
                                        <td style="border-top: none;width: 50%;">Item Name: </td>
                                        <td style="border-top: none;width: 50%;">{{item.itemName}}</td>
                                    </tr>
                                    <tr>
                                        <td style="border-top: none;width: 50%;">From: {{item.pickAddress}}</td>
                                        <td style="border-top: none;width: 50%;">To: {{item.dropAddress}}</td>
                                    </tr>
                                    <tr>
                                        <td style="border-top: none;width: 50%;">Status: </td>
                                        <td style="border-top: none;width: 50%;">Scheduled
                                            <div class="green_circle"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-top: none;width: 50%;">Delivery: </td>
                                        <td style="border-top: none;width: 50%;">
                                          <button class="btn btn table-btn" (click)="repeat(item.itemName,item.pickAddress,item.dropAddress,item.receiverPhone,item.paymentType,item.itemDescription,item.bookingType,item.receiverName)">Repeat</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-top: none;width: 50%;">Person Number: </td>
                                        <td style="border-top: none;width: 50%;">{{item.receiverPhone}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End -->
<div class="modal" tabindex="-1" role="dialog" *ngIf="map_popup" style="margin-top: 10%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onErrorHandled()"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeControl]="true">
                    <sebm-google-map-marker [latitude]="lat" [longitude]="lng" [label]="'P'" [markerDraggable]="true" (dragEnd)="pos_pick($event)"></sebm-google-map-marker>
                    <sebm-google-map-marker [latitude]="lat_drop" [longitude]="lng_drop" [label]="'D'" [markerDraggable]="true" (dragEnd)="pos_drop($event)"></sebm-google-map-marker>

                </sebm-google-map>
            </div>
        </div>
    </div>
</div>
<!--<div class="container-fluid" *ngIf="" style="background-color: rgba(0, 0, 0, 0.9);width: 100%;height: 100%;">
    <div class="col-md-12 text-center" style="margin-top: 20%;">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="color: #FFF;"></span> <span class="font_style" style="color: #FFF;">Loading Ezshipp&hellip;</span>
    </div>
</div>-->

<div *ngIf="issucess">
    <div class="backdrop"></div>
    <div class="modal" tabindex="-1" role="dialog" style="margin-top: 300px;margin-left: 35%;">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 200px;height: 50px;background-color: transparent;box-shadow: none;border: none;">
                <div class="modal-body" style="margin-left: -50%">
                    <div class="col-md-12 text-center">
                        <div style="border-radius: 5px;color: #FFF;font-size: 18px;">
                            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Processing Your Order
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
