<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <title>ezshipp</title>
    <link rel="icon" href="/images/bike_ezshipp_icon.ico">
    <meta name="viewport" content="width=device-width">
     <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCHAAF-2jzmx-G06WCapwMZK0VG3pIC3yY&libraries=places"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <style type="text/css">
        .glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spinw {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spinm {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
    </style>
    {{!--<link rel='stylesheet' href='/stylesheets/style.css'/>--}}

{{!--<script src="/js/site-functions.js"></script>
    <script src="/js/login.js"></script>
    <link rel='stylesheet' href='/css/style1.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
     <link rel='stylesheet' href='/css/vendor.css'>
      <link rel='stylesheet' href='/css/style-blue.css'>
      <link rel='stylesheet' href='/css/custom.css'>
       <script src="/js/modernizr-2.8.3.min.js"></script>
       <script src='/js/html5shiv.min.js'></script>
        <script src="/js/editor.js "></script>
        <script src='/js/plugin.js'></script>--}}

    {{!--<link rel='stylesheet' href='/css/style2.css'/>
    <link href="/fonts/ionicons.ttf">
    <link href="/fonts/ionicons.woff">--}}
    {{!--<link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.ttf" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.woff" />--}}
    {{!--<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">--}}
    {{!--<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>--}}
    {{!--<script src='/js/variable.js'></script>--}}
<style>
    body {
        background-color: #FFF;
    }
    .glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spinw {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spinm {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
.font_style {
    font-size: 20px;
    color: #4FC3F7;
    font-weight: bold;
}
</style>
</head>
<body style="padding: 0px;min-width: 1200px;height: 100%;">
<my-app>
    <div class="col-md-12 text-center" style="margin-top: 20%;">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="color: #000;"></span> <span class="font_style">Loading Ezshipp&hellip;</span>
    </div>
</my-app>

<script src="/js/app/bundle.js"></script>
</body>
</html>
