/*!
 * Template Name: Flora- Easy To Use App Landing Page Template
 * Author: bonefishcode
 */
/*
 * table of contents
 * --------------------------------------------------
 * import
 * reset
 * helper class
 * base
 * element
 * site loader
 * site header (nav)
 * site background
 * site common
 * home section
 * feature section
 * why us section
 * what we do section
 * contact section
 * footer
 * custom animation
 */
/*
 * color code, [search and replace] with text editor
 * --------------------------------------------------
 *
 * loader, nav background
 * #1e1f25
 *
 * home overlay
 * rgba(30, 31, 37, 0.65)
 *
 * download overlay
 * rgba(30, 31, 37, 0.65)
 *
 * theme color
 * #12a6f1
 * #0c90d3 [hover]
 *
 */
/**
 * import
 * --------------------------------------------------
 */
@import url("http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic");
/**
 * reset
 * --------------------------------------------------
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
  font-style: italic;
}

.gm-style img,
img[width],
img[height] {
  max-width: none;
}

.page-header {
  margin: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

/**
 * helper class
 * --------------------------------------------------
 */
/* float */
.clearfix:before,
.primary-menu-list:before,
.icon-menu-list:before,
.double-device:before,
.clearfix:after, .primary-menu-list:after, .icon-menu-list:after, .double-device:after {
  content: " ";
  display: table;
}

.clearfix:after, .primary-menu-list:after, .icon-menu-list:after, .double-device:after {
  clear: both;
}

@media (max-width: 767px) {
  .float-right-xs-max {
    float: right !important;
  }
  .float-left-xs-max {
    float: left !important;
  }
}

@media (max-width: 991px) {
  .float-right-sm-max {
    float: right !important;
  }
  .float-left-sm-max {
    float: left !important;
  }
}

@media (max-width: 1199px) {
  .float-right-md-max {
    float: right !important;
  }
  .float-left-md-max {
    float: left !important;
  }
}

@media (min-width: 480px) {
  .float-right-xs-min {
    float: right !important;
  }
  .float-left-xs-min {
    float: left !important;
  }
}

@media (min-width: 768px) {
  .float-right-sm-min {
    float: right !important;
  }
  .float-left-sm-min {
    float: left !important;
  }
}

@media (min-width: 992px) {
  .float-right-md-min {
    float: right !important;
  }
  .float-left-md-min {
    float: left !important;
  }
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

/* transition */
.transition-base, a, .btn, .site-header, .site-header-brand, .site-header-nav, .feature-icon, .feature-icon:before {
  -webkit-transition: 0.3s ease-in-out;
       -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
}

/* hardware acceleration */
.ha-3d, [data-animation-in], .site-loader._multi-circle-line, .site-loader._multi-circle-line .site-loader-spinner, .site-header, .site-header-brand, .site-header-nav, .site-bg, #videoPlayer, .site-bg-effect, .feature-icon, .feature-icon:before {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
}

.ha-z {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
}

/* position */
.relative {
  position: relative;
}

.layer, .site-loader._multi-circle-line, .site-overlay, .m-nav, .site-bg, .site-bg-img,
.site-bg-video,
.site-bg-overlay,
.site-bg-effect,
.site-bg-canvas, .cloud, .section-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* display */
.hide {
  display: none;
}

.tb, .m-nav-tb {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.tb-cell, .m-nav-tb-cell {
  display: table-cell;
  vertical-align: middle;
}

.overflow-hidden {
  overflow: hidden;
}

.scroll-block {
  -ms-overflow-style: scrollbar;
  overflow-x: hidden;
  overflow-y: auto;
}

/* margin and padding */
.m-t-5 {
  margin-top: 5px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-l-5 {
  margin-left: 5px;
}

.p-t-5 {
  padding-top: 5px;
}

.p-r-5 {
  padding-right: 5px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-l-5 {
  padding-left: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-l-10 {
  padding-left: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-l-15 {
  margin-left: 15px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-l-15 {
  padding-left: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-l-20 {
  padding-left: 20px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-r-25 {
  margin-right: 25px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-l-25 {
  margin-left: 25px;
}

.p-t-25 {
  padding-top: 25px;
}

.p-r-25 {
  padding-right: 25px;
}

.p-b-25 {
  padding-bottom: 25px;
}

.p-l-25 {
  padding-left: 25px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-l-30 {
  margin-left: 30px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-r-30 {
  padding-right: 30px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-l-30 {
  padding-left: 30px;
}

.m-t-35 {
  margin-top: 35px;
}

.m-r-35 {
  margin-right: 35px;
}

.m-b-35 {
  margin-bottom: 35px;
}

.m-l-35 {
  margin-left: 35px;
}

.p-t-35 {
  padding-top: 35px;
}

.p-r-35 {
  padding-right: 35px;
}

.p-b-35 {
  padding-bottom: 35px;
}

.p-l-35 {
  padding-left: 35px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-r-40 {
  margin-right: 40px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-l-40 {
  margin-left: 40px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-r-40 {
  padding-right: 40px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-l-40 {
  padding-left: 40px;
}

.m-t-space {
  margin-top: 20px;
}

.m-r-space {
  margin-right: 20px;
}

.m-b-space {
  margin-bottom: 20px;
}

.m-l-space {
  margin-left: 20px;
}

.p-t-space {
  padding-top: 20px;
}

.p-r-space {
  padding-right: 20px;
}

.p-b-space {
  padding-bottom: 20px;
}

.p-l-space {
  padding-left: 20px;
}

@media (min-width: 992px) {
  .m-t-space {
    margin-top: 30px !important;
  }
  .m-r-space {
    margin-right: 30px !important;
  }
  .m-b-space {
    margin-bottom: 30px !important;
  }
  .m-l-space {
    margin-left: 30px !important;
  }
  .p-t-space {
    padding-top: 30px !important;
  }
  .p-r-space {
    padding-right: 30px !important;
  }
  .p-b-space {
    padding-bottom: 30px !important;
  }
  .p-l-space {
    padding-left: 30px !important;
  }
}

/* border */
.border-radius-base, .btn, .form-theme .form-control {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
}

/* align */
.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

/* list */
.list-reset, .primary-menu-list, .icon-menu-list, .m-primary-menu-list, .feature-list, .selling-point-list, .service-list, .contact-info-list, .social-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

/* color */
.color {
  color: #12a6f1;
}

.text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6, .text-light p {
  color: #fff;
}

/**
 * base
 * --------------------------------------------------
 */
body, .section-subtitle {
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6, .btn, .primary-menu-item > a, .m-primary-menu-item > a {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*body {*/
  /*line-height: 1.9;*/
  /*font-weight: 400;*/
  /*text-transform: none;*/
  /*letter-spacing: 0;*/
/*}*/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
  font-size: 18px;
  color: #333;
}

@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #333;
}

h1 {
  font-size: 36px;
}

@media (min-width: 768px) {
  h1 {
    line-height: 1.1;
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  h1 {
    line-height: 1.05;
    font-size: 55px;
  }
}

h2 {
  font-size: 36px;
}

@media (min-width: 992px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 22px;
}

@media (min-width: 992px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 20px;
}

@media (min-width: 768px) {
  h4 {
    font-size: 22px;
  }
}

h5 {
  font-size: 18px;
}

@media (min-width: 768px) {
  h5 {
    font-size: 18px;
  }
}

h6,
.small {
  font-size: 12px;
  letter-spacing: 1.5px;
}

p,
ol,
ul,
blockquote,
pre {
  margin-bottom: 20px;
}

p:last-child,
ol:last-child,
ul:last-child,
blockquote:last-child,
pre:last-child {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  p,
  ol,
  ul,
  blockquote,
  pre {
    margin-bottom: 30px;
  }
}

a {
  color: #12a6f1;
}

a:focus {
  outline: 0;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #0c90d3;
}

.thin {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

i {
  display: inline-block;
  letter-spacing: 0;
}

/* animate */
.velocity-animating {
  -webkit-transition: none !important;
       -o-transition: none !important;
          transition: none !important;
}

/*
 * element
 * --------------------------------------------------
 */
/*
 * button
 * -------------------------
 */
.btn {
  line-height: 1 !important;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  height: auto !important;
  border: 1px solid transparent;
  padding: 20px 28.5px 20px 30px;
  background-image: none;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:active:focus {
  outline: 0;
}

.btn:focus {
  outline: 0;
}

.btn span {
  display: inline-block;
}

.btn span + i {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
       -o-transform: scale(1.5);
          transform: scale(1.5);
  line-height: 0;
  margin-left: 5px;
}

@media (min-width: 992px) {
  .btn {
    padding: 15px 38.5px 25px 40px;
  }
}

.btn._base {
  border-color: #333;
  color: #333;
}

.btn._base:active,
.btn._base:active:focus,
.btn._base:focus,
.btn._base:hover {
  background-color: #333;
  color: #fff;
}

.btn._theme {
  border-color: #12a6f1;
  background-color: #12a6f1;
  color: #fff;
}

.btn._theme:active,
.btn._theme:active:focus,
.btn._theme:focus,
.btn._theme:hover {
  border-color: #0c90d3;
  background-color: #0c90d3;
  color: #fff;
}

.btn._circle {
  -webkit-border-top-left-radius: 50px;
          border-top-left-radius: 50px;
  -webkit-border-top-right-radius: 50px;
          border-top-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
          border-bottom-left-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
          border-bottom-right-radius: 50px;
}

.btn-container {
  margin-top: 10px;
}

.btn-container .btn {
  margin: 10px 5px 0;
}

@media (min-width: 992px) {
  .btn-container {
    margin-top: 20px;
  }
}

/*
 * form
 * -------------------------
 */
/* form notify */
.form-notify {
  display: none;
  margin-top: 20px;
}

/* form theme */
.form-theme {
  position: relative;
}

.form-theme .required:after {
  position: absolute;
  top: 10px;
  right: 0;
  content: "*";
  line-height: 1;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ed485c;
}

.form-theme .form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-theme .form-group.error .form-control {
  border-color: #ed485c;
}

@media (min-width: 992px) {
  .form-theme .form-group {
    margin-bottom: 30px;
  }
}

.form-theme .form-control {
  height: 42px;
  padding: 17px 20px;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 18px;
}

.form-theme textarea.form-control {
  height: auto;
}

/**
 * site loader
 * --------------------------------------------------
 */
/*

*/
.site-loader._multi-circle-line {
  position: fixed;
  z-index: 900;
}

.site-loader._multi-circle-line .site-loader-spinner {
  -webkit-animation: spin 1.5s infinite linear;
       -o-animation: spin 1.5s infinite linear;
          animation: spin 1.5s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-left: -75px;
  border: 3px solid transparent;
  border-top-color: rgba(18, 166, 241, 0.5);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.site-loader._multi-circle-line .site-loader-spinner:before,
.site-loader._multi-circle-line .site-loader-spinner:after {
  position: absolute;
  content: "";
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.site-loader._multi-circle-line .site-loader-spinner:before {
  -webkit-animation: spin 2.5s infinite linear;
       -o-animation: spin 2.5s infinite linear;
          animation: spin 2.5s infinite linear;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border: 3px solid transparent;
  border-top-color: rgba(18, 166, 241, 0.4);
}

.site-loader._multi-circle-line .site-loader-spinner:after {
  -webkit-animation: spin 1.5s infinite linear;
       -o-animation: spin 1.5s infinite linear;
          animation: spin 1.5s infinite linear;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border: 3px solid transparent;
  border-top-color: rgba(18, 166, 241, 0.3);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0);
       transform: rotate(0);
  }
  100% {
    -o-transform: rotate(360deg);
       transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.site-loader._multi-circle-line .site-loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background-color: #1e1f25;
}

.site-loader._multi-circle-line .site-loader-section._left {
  left: 0;
}

.site-loader._multi-circle-line .site-loader-section._right {
  right: 0;
}

.is-loaded2 .site-loader-container {
  -webkit-transition: all 0.3s 1s ease-out;
       -o-transition: all 0.3s 1s ease-out;
          transition: all 0.3s 1s ease-out;
  visibility: hidden;
}

.is-loaded2 .site-loader-spinner {
  -webkit-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
  opacity: 0;
}

.is-loaded2 .site-loader-section._left {
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
       -o-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
       -o-transform: translateX(-100%);
          transform: translateX(-100%);
}

.is-loaded2 .site-loader-section._right {
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
       -o-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
}

/**
 * header
 * --------------------------------------------------
 */
.site-header {
  -webkit-transition-property: background-color;
       -o-transition-property: background-color;
          transition-property: background-color;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 800;
}

.is-scroll .site-header {
  background-color: #1e1f25;
}

.site-header .nav > li > a {
  padding: 0 !important;
}

.site-header .nav > li > a:focus,
.site-header .nav > li > a:hover {
  background-color: transparent;
}

.site-header-container {
  position: relative;
}

.site-header-brand {
  -webkit-transition-property: margin;
       -o-transition-property: margin;
          transition-property: margin;
  float: left;
  margin: 8px 0 8px;
}

@media (min-width: 992px) {
  .site-header-brand {
    margin: 22px 0 22px;
  }
  .is-scroll .site-header-brand {
    margin: 12px 0 12px;
  }
}

.site-header-brand-img {
  height: 40px;
}

@media (min-width: 992px) {
  .site-header-brand-img {
    height: 56px;
  }
}

.site-header-nav {
  -webkit-transition-property: margin;
       -o-transition-property: margin;
          transition-property: margin;
  float: right;
  height: 40px;
  line-height: 40px;
  margin: 8px 0 8px;
}

@media (min-width: 992px) {
  .site-header-nav {
    height: 56px;
    line-height: 56px;
    margin: 22px 0 22px;
  }
  .is-scroll .site-header-nav {
    margin: 12px 0 12px;
  }
}

.primary-menu {
  float: left;
}

@media (max-width: 991px) {
  .primary-menu {
    display: none;
  }
}

.primary-menu-item {
  float: left;
}

.primary-menu-item:not(:first-child) {
  margin-left: 30px;
}

.primary-menu-item > a {
  -webkit-transition-property: color;
       -o-transition-property: color;
          transition-property: color;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.primary-menu-item > a:hover {
  color: #12a6f1;
  background-color: transparent !important;
}

.primary-menu-item > a > span {
  display: inline-block;
}

@media (min-width: 992px) {
  .primary-menu-item > a {
    height: 56px;
    line-height: 56px;
  }
}

.primary-menu-item.active > a {
  color: #12a6f1;
}

.primary-menu-item.active > a:hover {
  color: #0c90d3;
}

.icon-menu {
  float: left;
}

.icon-menu-item {
  float: left;
  margin-left: 30px;
}

.icon-menu-item > a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.icon-menu-item > a:focus,
.icon-menu-item > a:hover {
  color: #fff;
}

.icon-menu-item > a > i {
  font-size: 25px;
}

.icon-menu-item > a > i:before {
  display: block;
  line-height: inherit;
}

@media (min-width: 992px) {
  .icon-menu-item > a {
    height: 56px;
    line-height: 56px;
  }
}

.audio-toggle {
  display: none;
}

.is-audio .audio-toggle,
.is-mute .audio-toggle {
  display: block;
}

.audio-toggle-link {
  color: #fff;
}

.audio-toggle-link:hover {
  color: #fff !important;
}

.is-mute .audio-toggle-link {
  color: #999 !important;
}

.site-overlay {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(30, 31, 37, 0.5);
}

/* mobile nav */
.m-nav {
  position: fixed;
  z-index: 798;
  display: none;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #1e1f25;
  text-align: center;
}

.m-nav .nav > li > a {
  font-size: 18px;
  font-weight: 700;
}

.m-nav .nav > li > a:focus,
.m-nav .nav > li > a:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  .m-nav {
    display: none !important;
  }
}

.m-primary-menu-item > a {
  -webkit-transition-property: color;
       -o-transition-property: color;
          transition-property: color;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.m-primary-menu-item > a:hover {
  color: #12a6f1;
  background-color: transparent !important;
}

.m-primary-menu-item > a > span {
  display: inline-block;
}

.m-primary-menu-item.active > a {
  color: #12a6f1;
}

.m-primary-menu-item.active > a:hover {
  color: #0c90d3;
}

/**
 * site background
 * --------------------------------------------------
 */
.site-bg {
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.site-bg-img,
.site-bg-video,
.site-bg-overlay,
.site-bg-effect,
.site-bg-canvas {
  position: absolute;
}

.site-bg-img {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.is-site-bg-img .site-bg-img {
  display: block;
  background-image: url(../img/bg/site-bg-img.jpg);
}

.is-site-bg-slideshow .site-bg-img {
  display: block;
}

.is-site-bg-video .site-bg-img {
  display: block;
  background-image: url(../img/bg/site-bg-video.jpg);
}

.is-site-bg-video-youtube .site-bg-img {
  display: block;
  background-image: url(../img/bg/site-bg-video-youtube.jpg);
}

.is-site-bg-video .site-bg-video,
.is-site-bg-video-youtube .site-bg-video {
  display: block;
}

#videoPlayer {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.site-bg-overlay {
  position: absolute;
  background-color: rgba(30, 31, 37, 0.65);
}

.is-site-bg-cloud .site-bg-effect {
  display: block;
}

.ie9 .site-bg-effect {
  background-image: url(#);
}

.cloud {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.site-bg-canvas {
  display: none;
}

.is-site-bg-star .site-bg-canvas {
  display: block;
}

/* cloud */
.cloud-01 {
  background-image: url(../img/bg/cloud-01.png);
}

.cloud-02 {
  background-image: url(../img/bg/cloud-02.png);
}

.cloud-03 {
  background-image: url(../img/bg/cloud-03.png);
}

/**
 * content common
 * --------------------------------------------------
 */
.animated {
  opacity: 0;
  visibility: hidden;
}

.ie9 .animated,
.is-mobile .animated {
  opacity: 1;
  visibility: visible;
}

#feature,
#place-order,
#app-brief-1,
#app-brief-2,
#download,
#contact {
  padding: 65px 0;
}

@media (min-width: 992px) {
  #feature,
  #app-brief-1,
  #app-brief-2,
  #download,
  #contact {
    padding: 130px 0;
  }
}

.section {
  z-index: 1;
  overflow: hidden;
}

.section-overlay {
  position: absolute;
}

@media (max-width: 991px) {
  [data-equal-height] {
    height: auto !important;
  }
}

@media (min-width: 992px) {
  [data-equal-height] {
    display: table;
  }
}

@media (min-width: 992px) {
  .equal-height-cell {
    display: table-cell;
    vertical-align: middle;
  }
}

.section-subtitle {
  font-size: 13px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 5px;
}

.double-device {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .double-device {
    margin-top: 65px;
  }
}

@media (min-width: 768px) {
  .double-device {
    max-width: 350px;
  }
}

@media (min-width: 992px) {
  .double-device {
    max-width: 440px;
  }
  .double-device._right {
    float: right;
  }
  .double-device._left {
    float: left;
  }
  .double-device._bottom {
    position: absolute;
    bottom: -250px;
  }
  .double-device._bottom._left {
    left: 15px;
  }
}

.double-device-front {
  position: relative;
  float: left;
  z-index: 1;
}

.is-desktop .double-device-front {
  -webkit-filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1));
}

@media (max-width: 991px) {
  .double-device-front {
    width: 250px;
  }
}

.double-device-back {
  position: absolute;
  top: 50%;
  right: 0;
  height: 90%;
}

.is-desktop .double-device-back {
  -webkit-filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1));
}

.ie9 .double-device-back,
.is-mobile .double-device-back {
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
       -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (max-width: 991px) {
  .double-device-back {
    width: 250px;
  }
}

.max-width-640 {
  max-width: 640px;
  margin: auto;
}

.max-width-960 {
  max-width: 960px;
  margin: auto;
}

/**
 * home
 * --------------------------------------------------
 */
#home {
  position: relative;
  padding: 108px 0 60px;
}

@media (min-width: 768px) {
  #home {
    padding: 138px 0 90px;
  }
}

@media (min-width: 992px) {
  #home {
    padding: 198px 0 120px;
  }
}

/**
 * feature
 * --------------------------------------------------
 */
#feature {
  background-color: #fff;
}

.feature-box {
  position: relative;
  margin-top: 40px;
  padding: 0 0 0 94px;
}

@media (min-width: 992px) {
  .feature-box {
    margin-top: 60px;
  }
}

.feature-icon {
  -webkit-border-top-left-radius: 50%;
          border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
          border-top-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
          border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
          border-bottom-right-radius: 50%;
  -webkit-transition-property: -webkit-transform;
       -o-transition-property: -o-transform;
          transition-property: transform;
  position: absolute;
  top: 0;
  left: 0;
  width: 74px;
  height: 74px;
  border: 2px solid #12a6f1;
  padding: 3px;
}

.feature-icon:before {
  -webkit-transition-property: -webkit-transform opacity;
       -o-transition-property: -o-transform opacity;
          transition-property: transform opacity;
  position: absolute;
  bottom: -30px;
  left: 5%;
  content: "";
  height: 10px;
  width: 90%;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: -o-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  opacity: 0;
}

.feature-icon > i {
  -webkit-border-top-left-radius: 50%;
          border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
          border-top-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
          border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
          border-bottom-right-radius: 50%;
  display: block;
  width: 64px;
  height: 64px;
  line-height: 64px;
  background-color: #12a6f1;
  background-image: url(../img/item/svg-mask.svg);
  background-size: 100% 100%;
  font-size: 36px;
  text-align: center;
  color: #fff;
}

.feature-box:hover .feature-icon {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
       -o-transform: translateY(-5px);
          transform: translateY(-5px);
}

.feature-box:hover .feature-icon:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
       -o-transform: translateY(5px);
          transform: translateY(5px);
}

.feature-content {
  margin-top: 10px;
}

/**
 * app brief 1 (why us section)
 * --------------------------------------------------
 */
#app-brief-1 {
  background-color: #f5f5f5;
}

.selling-point-item > i {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
       -o-transform: translateY(2px);
          transform: translateY(2px);
  position: relative;
  margin-right: 1em;
  font-size: 24px;
  color: #12a6f1;
}

/**
 * app brief 2 (what we do section)
 * --------------------------------------------------
 */
#app-brief-2 {
  background-color: #fafafa;
}

@media (min-width: 992px) {
  .service {
    margin-top: 50px;
  }
}

.service-icon {
  line-height: 44px;
  font-size: 44px;
  color: #12a6f1;
}

@media (max-width: 991px) {
  .service-icon {
    margin-top: 20px;
  }
}

.service-title {
  margin-top: 10px;
  font-weight: 400;
  color: #333;
}

/**
 * download
 * --------------------------------------------------
 */
#download {
  position: relative;
  background-image: url(../img/bg/hyderabad-budda.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

#download .section-overlay {
  background-color: rgba(30, 31, 37, 0.65);
}

@media (max-width: 991px) {
  #download {
    padding-bottom: 0;
  }
  #download .double-device {
    -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
         -o-transform: translateY(100px);
            transform: translateY(100px);
    margin-top: -35px;
  }
}

/**
 * contact
 * --------------------------------------------------
 */
#contact {
  background-color: #fff;
}

.contact-info {
  margin-top: 20px !important;
}

.contact-info-item {
  margin-top: 40px;
}

.contact-info-icon {
  line-height: 40px;
  font-size: 40px;
}

.contact-info-title {
  margin: 15px 0 5px;
}

#contactForm {
  margin-top: 40px;
}

@media (min-width: 992px) {
  #contactForm {
    margin-top: 60px;
  }
}

/**
 * footer
 * --------------------------------------------------
 */
.site-footer {
  padding: 65px 0;
  background-color: #1e1f25;
}

@media (min-width: 992px) {
  .site-footer {
    padding: 90px 0;
  }
}

.site-footer-brand-img {
  height: 40px;
}

@media (min-width: 992px) {
  .site-footer-brand-img {
    height: 56px;
  }
}

.copyright {
  color: #999 !important;
}

.social-item {
  display: inline-block;
}

.social-item a {
  color: #999;
}

.social-item a:focus,
.social-item a:hover {
  color: #12a6f1;
}

.social-item i {
  font-size: 30px;
  margin: 10px 15px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

/** type writer effect */
.line-1{
  position: relative;
  top: 50%;
  width: 12em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 90%;
  /*text-align: center;*/
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
  blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
/**
 * custom animating
 * --------------------------------------------------
 */
.is-desktop .fadeInLeftScale90 {
  -webkit-animation-name: fadeInLeftScale90;
       -o-animation-name: fadeInLeftScale90;
          animation-name: fadeInLeftScale90;
}

@-webkit-keyframes fadeInLeftScale90 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-30%, -50%);
            transform: translate(-30%, -50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@-o-keyframes fadeInLeftScale90 {
  0% {
    opacity: 0;
    -o-transform: translate(-30%, -50%);
       transform: translate(-30%, -50%);
  }
  100% {
    opacity: 1;
    -o-transform: translate(0, -50%);
       transform: translate(0, -50%);
  }
}

@keyframes fadeInLeftScale90 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-30%, -50%);
         -o-transform: translate(-30%, -50%);
            transform: translate(-30%, -50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, -50%);
         -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

.is-desktop .fadeInUpScale90 {
  -webkit-animation-name: fadeInUpScale90;
       -o-animation-name: fadeInUpScale90;
          animation-name: fadeInUpScale90;
}

@-webkit-keyframes fadeInUpScale90 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
}

@-o-keyframes fadeInUpScale90 {
  0% {
    opacity: 0;
    -o-transform: translateY(100%);
       transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(-40%);
       transform: translateY(-40%);
  }
}

@keyframes fadeInUpScale90 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-40%);
         -o-transform: translateY(-40%);
            transform: translateY(-40%);
  }
}
