<h2>Payment</h2>
<!--<form action="/dashboard/payment" method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_mHybvn4OUmX7Qw" data-amount="100" data-buttontext="Pay with Razorpay" data-name="Srinivas" data-description="Purchase Description" data-prefill.name="Raju" data-prefill.email="rajesh.keerthi@evontex.com"
        data-theme.color="#F37254"></script>
    <input type="submit" value="Hidden Element" name="submit">
</form>-->
<button id="rzp-button1" class="razorpay-payment-button" (click)="payment()">Pay</button>