<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
<script src="/js/site-functions.js"></script>
<script src="/js/login.js"></script>
<link rel='stylesheet' href='/css/style1.css' />
<link rel='stylesheet' href='/css/style.css' />
<link rel='stylesheet' href='/css/vendor.css'>
<link rel='stylesheet' href='/css/style-blue.css'>
<link rel='stylesheet' href='/css/custom.css'>
<script src="/js/modernizr-2.8.3.min.js"></script>
<script src='/js/html5shiv.min.js'></script>
<script src="/js/editor.js "></script>
<script src='/js/plugin.js'></script>
<link rel='stylesheet' href='/css/style2.css' />
<link href="/fonts/ionicons.ttf">
<link href="/fonts/ionicons.woff">
<main id="wrapper" *ngIf="isdata">
    <div class="backlayer">
        <div class="site-bg-video layerLeft">
            <figure class="logo"><img alt="" src="/images/logo-blue-1.png"></figure>
        </div>
        <div class="layerRight" style="opacity: 0.5;">
            <!-- Single -->
            <figure class="logo"><img alt="" src="/images/logo-blue-1.png"></figure>
        </div>
    </div>
    <div class="panels">
        <div class="innerpanel">
            <div class="right">
                <div class="formcontainer">
                    <form class="form-signin" (ngSubmit)="onSubmit_Phone(f)" #f="ngForm">
                        <h2 style="text-align: center;font-size: 22px;color: #12a6f1;">Forgot Password</h2>
                        <h3 style="font-size: 20px;margin-bottom: -15px;">Enter Phone Number</h3>
                        <div class="row margin">
                            <div class="input-field col s12" style="margin-left: -10px;">
                                <!--<i class="mdi-social-person-outline prefix" style="margin-left: -5px;"></i>-->
                                <input type="text" class="validate" placeholder="Phone Number" maxlength="10" autocomplete="off" ngModel name="Phone" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="submit" class="btn waves-effect waves-light col s12" style="padding: 15px;background-color: #f17b24;font-weight: 700;font-size: 16px;" value="Generate OTP">
                            </div>

                        </div>
                    </form>
                    <script type="text/javascript">
                        frmLogin_validator_requirements = {
                            "username": {
                                "required": true
                            },
                            "password": {
                                "required": true
                            },
                            "remember_me": {
                                "required": false
                            },
                            "btn_submit": {
                                "required": false
                            }
                        };
                        frmLogin_validator_formatting = {
                            "errordisplay": "afterfield",
                            "summaryElementId": ""
                        };
                        frmLogin_validator = $("#frm_mbs_id_frmLogin").validation(frmLogin_validator_requirements, frmLogin_validator_formatting);
                    </script>
                </div>
            </div>
        </div>
    </div>
</main>



<div class="container-fluid" *ngIf="isloading" style="background-color: #FFF;width: 100%;height: 100%;">
    <div class="col-md-12 text-center" style="margin-top: 20%;">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="color: #000;"></span> <span class="font_style">Loading Ezshipp&hellip;</span>
    </div>
</div>