.btn,
.order-button {
    color: #FFFFFF;
    background-color: #cf2a27;
    border-radius: 0px;
    padding: 6px 15px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 3px;
}

.tdline {
    border-top: none;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 1px 2px;
}

.table-btn {
    background-color: #e87906;
    color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    padding: 4px;
}

.green_circle {
    background-color: green;
    border-radius: 25px;
    width: 15px;
    height: 15px;
    float: right;
    margin-left: 0px;
    margin-top: 3px;
    margin-right: 20px;
}

span.green_circle-1 {
    background-color: #000;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    margin: -2px 10px 0px 0px;
    margin-right: 10px;
    float: left;
}

.notification {
    border: 2px solid #000;
    margin: -1px -18px;
    padding: 10px;
    text-align: center;
    background-color: #cf2a27;
    color: #fff;
}

.notification-1 {
    border: 2px solid #000;
    margin: 5px -11px;
    padding: 7px;
}