<div class="row" style="margin-top: 50px;margin-left: -5px;">
    <div class="col-lg-10">
        <h4 style="color: #191616;margin-bottom: 20px;">Order History:</h4>
    </div>
</div>
<div class="row" style="border: 2px solid #000;margin-left: 10px;">
    <div class="col-lg-4" style="padding-left: 5px;">
        <div style="height: 100%;border-right: 2px solid #000;">
            <table align="center" class="table">
                <tr>
                    <td style="border-top: none;">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Select All</label>
                        </div>
                    </td>
                    <td style="border-top: none;"><button type="submit" class="btn order-button">Order Check Order</button></td>
                </tr>
            </table>
            <table class="table" align="center">
                <tr>
                    <td>
                        <table align="center" class="table">
                            <tr>
                                <td rowspan="5" style="border-top: none;"><input type="checkbox" value="" /></td>
                                <td style="border-top: none;">Item Name: </td>
                                <td style="border-top: none;">Mobile</td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">From: Hyd</td>
                                <td style="border-top: none;">To: Vijayawada</td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Status: </td>
                                <td style="border-top: none;">Scheduled
                                    <div class="green_circle"></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Delivery: </td>
                                <td style="border-top: none;"><button class="btn btn table-btn">Repeat</button></td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Person Number: </td>
                                <td style="border-top: none;">9000801178</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="center" class="table">
                            <tr>
                                <td rowspan="5" style="border-top: none;"><input type="checkbox" value="" /></td>
                                <td style="border-top: none;">Item Name: </td>
                                <td style="border-top: none;">Phone</td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">From: Ongole</td>
                                <td style="border-top: none;">To: Secunderabad</td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Status: </td>
                                <td style="border-top: none;">Scheduled
                                    <div class="green_circle"></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Delivery </td>
                                <td style="border-top: none;"><button class="btn table-btn">Repeat</button></td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Person Number: </td>
                                <td style="border-top: none;">9005250251</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="center" class="table">
                            <tr>
                                <td rowspan="5" style="border-top: none;"><input type="checkbox" value="" /></td>
                                <td style="border-top: none;">Item Name: </td>
                                <td style="border-top: none;">Fan</td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">From: Hyd</td>
                                <td style="border-top: none;">To: Uppal</td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Status: </td>
                                <td style="border-top: none;">Scheduled
                                    <div class="green_circle"></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Delivery </td>
                                <td style="border-top: none;"><button class="btn table-btn">Repeat</button></td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Person Number: </td>
                                <td style="border-top: none;">9533993043</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="center" class="table">
                            <tr>
                                <td rowspan="5" style="border-top: none;"><input type="checkbox" value="" /></td>
                                <td style="border-top: none;">Item Name: </td>
                                <td style="border-top: none;">Fan</td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">From: Hyd</td>
                                <td style="border-top: none;">To: Uppal</td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Status: </td>
                                <td style="border-top: none;">Scheduled
                                    <div class="green_circle"></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Delivery </td>
                                <td style="border-top: none;"><button class="btn table-btn">Repeat</button></td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Person Number: </td>
                                <td style="border-top: none;">9533993043</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="center" class="table">
                            <tr>
                                <td rowspan="5" style="border-top: none;"><input type="checkbox" value="" /></td>
                                <td style="border-top: none;">Item Name: </td>
                                <td style="border-top: none;">Fan</td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">From: Hyd</td>
                                <td style="border-top: none;">To: Uppal</td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Status: </td>
                                <td style="border-top: none;">Scheduled
                                    <div class="green_circle"></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Delivery </td>
                                <td style="border-top: none;"><button class="btn table-btn">Repeat</button></td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Person Number: </td>
                                <td style="border-top: none;">9533993043</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-8" style="border: 1px solid #000;">
        <div style="height: 100%;padding: 2px 10px;">
            <div class="row" style="border-bottom: 2px solid #000;margin-right: -28px;margin-left: -25px;">
                <h4 style="padding: 2px 8px;">Order Details</h4>
            </div>
            <div class="row" style="padding: 5px 5px;">
                <div class="col-lg-5">
                    <table align="center" class="table" style="margin-left:-20px;font-size: 18px;margin-top: 7px;">
                        <tr>
                            <td style="border-top: none;">Item Name: </td>
                            <td style="border-top: none;">Mobile</td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">From: Hyd</td>
                            <td style="border-top: none;">To: Vijayawada</td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Status: </td>
                            <td style="border-top: none;">Scheduled</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="border-top: none;">Delivery: </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">Person Number: </td>
                            <td style="border-top: none;">9000801178</td>
                        </tr>
                        <tr>
                            <td style="border-top: none;font-size: 25px;">Price:</td>
                            <td style="border-top: none;font-size: 25px;">288 /-</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6 col-lg-offset-1" style="border: 2px solid;">
                    <table align="center" class="table">
                        <tr>
                            <td colspan="2" style="border-top: none;">
                                <h4 class="notification">Notification</h4>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">
                                <h4 class="notification-1"><span class="green_circle-1"></span> Pick Up From 344</h4>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">
                                <h4 class="notification-1"><span class="green_circle-1"></span> Drop To 344</h4>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">
                                <h4 class="notification-1"><span class="green_circle-1"></span> Scheduled To next</h4>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">
                                <h4 class="notification-1"><span class="green_circle-1"></span> Next to Lingampally</h4>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">
                                <h4 class="notification-1"><span class="green_circle-1"></span> Lingampally to Uppal</h4>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">
                                <h4 class="notification-1"><span class="green_circle-1"></span> Shiped to Local</h4>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">
                                <h4 class="notification-1"><span class="green_circle-1"></span> Local To Drop location</h4>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none;">
                                <h4 class="notification-1"><span class="green_circle-1"></span>Drop Location to Home</h4>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>