/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 550px
}


/* Set gray background color and 100% height */

.sidenav {
    /*background-color: #f1f1f1;*/
    height: 100%;
}


/* On small screens, set height to 'auto' for the grid */

@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}


/*main-navbar*/

.navbar-fixed-left {
    margin-left: -66px;
    width: 176px;
    position: fixed;
    /*border: 1px solid #000;*/
    /*border-radius: 10px;*/
    height: 100%;
    padding: 0px 0px 0px 1px;
    margin-top: -50px;
}

.well {
    background-color: #fff;
    border-radius: 0px;
    padding: 15px;
    border: 1px solid #000;
}

.navbar-fixed-left .navbar-nav>li>a {
    float: none;
    width: 173px;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
    color: rgba(57, 61, 94, 0.86);
    /*border: 1px solid #000;*/
    font-size: 13px;
    padding-left: 10px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1px;
}

.navbar-fixed-left .navbar-nav>li {
    color: #ddd;
    font-size: 16px;
}

.navbar-fixed-left .navbar-nav>li> {
    margin-top: -50px;
    margin-left: 140px;
}

.navbar-fixed-left .navbar-nav>li>:hover {
    background-color: #0b97c4;
    color: #fff;
    /*border-right: 4px solid #f60;*/
    /*border-left: 4px solid #f60;*/
    /*border-radius: 5px;*/
}

.nav>li>a#tl:hover {
    background-color: #cf2a27;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    /*color: #fff;*/
    /*border-right: 4px solid #f60;*/
    /*border-left: 4px solid #f60;*/
    /*border-radius: 5px;*/
}

.nav>li>a#tf:hover {
    background-color: #0b97c4;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    /*color: #fff;*/
    /*border-right: 4px solid #f60;*/
    /*border-left: 4px solid #f60;*/
    /*border-radius: 5px;*/
}

.nav>li>a:hover {
    background-color: #fff;
    color: #000;
    /*border: 1px solid #000;*/
    /*border-right: 4px solid #f60;*/
    /*border-left: 4px solid #f60;*/
    /*border-radius: 5px;*/
}

img.image-dash {
    width: 11%;
    margin-left: -3px;
    margin-right: 8px;
}

.navbar-fixed-left .navbar-nav>.active>a,
.navbar-fixed-left .navbar-nav>.active>a:focus {
    background-color: #ea5940;
    color: #fff;
    border-right: 4px solid yellow;
    border-left: 4px solid yellow;
    border-radius: 5px;
}

.navbar-fixed-left .navbar-nav>.active>a:hover {
    /*background-color: #ea5940;*/
    color: #fff;
    /*border-right: 4px solid #f60;*/
    /*border-left: 4px solid #f60;*/
    /*border-radius: 5px;*/
}

.nav {
    margin-left: -14px;
}

.navbar-form,
.navbar-right {
    margin-right: 10px;
}

.form-control {
    border-radius: 0px;
}

.box-recent {
    width: auto;
    height: 100%;
    margin-top: -16px;
}

.green_circle {
    background-color: green;
    border-radius: 25px;
    width: 15px;
    height: 15px;
    float: right;
    margin-left: 0px;
    margin-top: 3px;
    margin-right: 26px;
}

.tdline {
    border-top: none;
}

.profile {
    color: #FFFFFF;
    background-color: #0b97c4;
    border-radius: 0px;
    padding: 6px 15px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: -16px;
}

.profile-1 {
    color: #FFFFFF;
    background-color: #0b97c4;
    border-radius: 0px;
    padding: 6px 15px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 37px;
}

.profile_upload {
    color: #FFFFFF;
    background-color: #0b97c4;
    border-radius: 0px;
    padding: 6px 15px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 37px;
}

.profile-4 {
    color: #FFFFFF;
    background-color: #31708f;
    border-radius: 0px;
    padding: 5px 5px;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 0px;
}

.table-btn {
    background-color: #e87906;
    color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    padding: 4px;
}

.profile-3 {
    color: #000;
    background-color: #ffffff;
    border-radius: 0px;
    padding: 5px 5px;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 0px;
}

.profile-5 {
    color: #FFFFFF;
    background-color: #cf2a27;
    border-radius: 0px;
    padding: 6px 100px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 65px;
}

.navbar-fixed-top {
    margin-top: -8px;
}

.main-box {
    margin-top: 94px;
    border: 1px solid #000;
    padding: 15px 10px;
    margin-left: -89px;
    margin-right: -44px;
}

.head-package {
    position: absolute;
    top: 46px;
}

.image-input {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    top: -8px;
    left: 7px;
    width: 50px;
    height: 50px;
}

.image-input-1 {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    top: -4px;
    left: 13px;
    width: 40px;
    height: 40px;
}

.image-input-2 {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    top: -4px;
    right: 35px;
    width: 40px;
    height: 40px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 1px 2px;
}

.sidenav[_ngcontent-xtn-3] {
    height: 700px;
}

input::-webkit-input-placeholder {
    color: #12a6f1 !important;
    font-weight: 400;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: #12a6f1 !important;
    font-weight: 400;
}

input::-moz-input-placeholder {
    /* Firefox 19+ */
    color: #12a6f1 !important;
    font-weight: 400;
}

input:-ms-input-placeholder {
    color: #12a6f1 !important;
    font-weight: 400;
}

#logout:hover {
    cursor: pointer;
}

sebm-google-map {
    height: 300px;
    width: 100%;
}

.modal {
    display: block;
}


/* Tooltip Style Starts */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip #tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover #tooltiptext {
    visibility: visible;
}


/* Tooltip Style Ends */

#upload {
    cursor: pointer;
}