/* Sidebar CSS Style Starts */

.navbar-fixed-left {
    width: 225px;
    position: fixed;
    border-radius: 0;
    height: 100%;
    background-color: #FFF;
    margin-left: -20px;
    border-right: 3px solid #000;
}

.navbar-fixed-left .navbar-nav>li>a {
    float: none;
    width: 225px;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: #000;
    border-bottom: 1px solid #000;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
}

.navbar-fixed-left .navbar-nav>li {
    color: #000;
    font-size: 16px;
}

.navbar-fixed-left .navbar-nav>li> {
    margin-top: -50px;
    margin-left: 140px;
}

.navbar-fixed-left .navbar-nav>li>:hover {
    background-color: #12a6f1;
    color: #fff;
    border-radius: 5px;
}

.navbar-fixed-left .navbar-nav>.active>a,
.navbar-fixed-left .navbar-nav>.active>a:focus {
    background-color: #12a6f1;
    color: #fff;
    border-radius: 5px;
}

.navbar-fixed-left .navbar-nav>.active>a:hover {
    background-color: #12a6f1;
    color: #fff;
    /*border-radius: 5px;*/
}

.containers {
    margin-left: 200px;
}


/*chenges*/

.profile {
    color: #FFFFFF;
    background-color: #0b97c4;
    border-radius: 0px;
    padding: 6px 6px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    /*letter-spacing: 1px;*/
    margin-top: -21px;
}


/* Sidebar CSS Style Ends */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 113px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #191616;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e87906;
}

.navbar-brand>img {
    display: inline-block;
}