<div class="container-fluid">
    <nav class="navbar navbar-fixed-top" style="background-color: #1e1f25;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="color: #FFF;letter-spacing: 1px;"><img [src]="imageLogo" class="imagelogo profile-img-card" type="image/png" alt="Ezshipp" title="Ezshipp" style="width: 120px;margin-top: -12px;" /></a>
            </div>
            <span class="navbar-brand" style="font-size: 18px;color: #FFF;margin-left: 30%;letter-spacing: 1px;">Welcome {{ this.UserName }}</span>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <div class="dropdown">
                        <button type="submit" class="btn profile dropbtn" style="letter-spacing: 1px;">Your Profile
                        <span class="caret"></span></button>
                        <div class="dropdown-content">
                            <a>My Account</a>
                            <a>Profile</a>
                        </div>
                    </div>
                    <span class="glyphicon glyphicon-log-out" style="top: -3px;font-size: 25px;color: #FFF;" (click)="logout()"></span>
                </div>
            </form>
        </div>
    </nav>
    <div class="navbar navbar-fixed-left" style="margin-top: 50px;">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a [routerLink]="['ship_package']">Ship your Package</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['bulk_order']">Bulk Order</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['order_history']">Order History</a>
            </li>
            <li routerLinkActive="active">
                <a style="background-color: #e87906;color:#fff;">Track Live</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid containers">
        <router-outlet></router-outlet>
    </div>
</div>