<script src="/js/site-functions.js"></script>
<script src="/js/login.js"></script>
<link rel='stylesheet' href='/css/style1.css' />
<link rel='stylesheet' href='/css/style.css' />
<link rel='stylesheet' href='/css/vendor.css'>
<link rel='stylesheet' href='/css/style-blue.css'>
<link rel='stylesheet' href='/css/custom.css'>
<script src="/js/modernizr-2.8.3.min.js"></script>
<script src='/js/html5shiv.min.js'></script>
<script src="/js/editor.js "></script>
<script src='/js/plugin.js'></script>
<link rel='stylesheet' href='/css/style2.css' />
<link href="/fonts/ionicons.ttf">
<link href="/fonts/ionicons.woff">
<main id="wrapper" *ngIf="data">
    <div class="backlayer">
        <div class="site-bg-video layerLeft">
            <figure class="logo"><img alt="" src="/images/logo-blue-1.png"></figure>
        </div>
        <div class="layerRight" style="opacity: 0.5;">
            <figure class="logo"><img alt="" src="/images/logo-blue-1.png"></figure>
        </div>
    </div>
    <div class="panels">
        <div class="innerpanel">
            <div class="right">
                <div class="formcontainer">
                    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="web_form" *ngIf="!isFirstTimeLogin">
                        <div class="field_control fieldicon user ">
                            <div class="field_cover">
                                <input type="text" ngModel name="Phone" autocomplete="off" placeholder="Phone Number" /><span class="spn_must_field">*</span>
                            </div>
                        </div>
                        <div class="field_control fieldicon key ">
                            <div class="field_cover">
                                <input type="password" ngModel name="Password" autocomplete="off" placeholder="Password" /><span class="spn_must_field">*</span>
                            </div>
                        </div>
                        <div class="field_control">
                            <span><a id="moveleft" (click)="signup_call()" class="linkright linkslide">Sign up</a><br />
                            <a id="moveleft" (click)="forgot_call()" class="linkright linkslide">Forgot your password?</a></span>
                        </div>
                        <span class="circlebutton"><input type="submit" name="btn_submit" id="btn_submit" title="" value="Login" /></span>
                    </form>
                    <form (ngSubmit)="onSubmit_firsttime(f)" #f="ngForm" class="web_form" *ngIf="isFirstTimeLogin">

                        <div class="field_control fieldicon key ">
                            <div class="field_cover">
                                <input type="password" ngModel name="Password" autocomplete="off" placeholder="Password" /><span class="spn_must_field">*</span>
                            </div>
                        </div>
                        <div class="field_control fieldicon key ">
                            <div class="field_cover">
                                <input type="password" ngModel name="Confirm_Password" autocomplete="off" placeholder="Confirm Password" /><span class="spn_must_field">*</span>
                            </div>
                        </div>

                        <span class="circlebutton"><input type="submit" name="btn_submit" id="btn_submit" title="" value="Login" /></span>
                    </form>
                    <script type="text/javascript">
                        frmLogin_validator_requirements = {
                            "username": {
                                "required": true
                            },
                            "password": {
                                "required": true
                            },
                            "remember_me": {
                                "required": false
                            },
                            "btn_submit": {
                                "required": false
                            }
                        };
                        frmLogin_validator_formatting = {
                            "errordisplay": "afterfield",
                            "summaryElementId": ""
                        };
                        frmLogin_validator = $("#frm_mbs_id_frmLogin").validation(frmLogin_validator_requirements, frmLogin_validator_formatting);
                    </script>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="container-fluid" *ngIf="loading" style="background-color: #FFF;width: 100%;height: 100%;">
    <div class="col-md-12 text-center" style="margin-top: 20%;">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="color: #000;"></span> <span class="font_style">Loading Ezshipp&hellip;</span>
    </div>
</div>