<!-- Start -->
<div class="row" style="margin-top: 50px;margin-left: -5px;">
    <div class="col-lg-12">
        <h4 style="color: #191616;margin-bottom: 20px;margin-top: 20px;">Bulk Order:</h4>
    </div>
</div>
<div class="row" style="border: 2px solid #000;margin-left: 10px;padding:5px 0px 5px 5px;">
    <div class="col-lg-9" style="padding-left: 2px;margin-top: 2px;">
        <div style="height: 100%;border: 1px solid #000;padding: 10px;border: 1px solid #555;padding: 10px;border-radius: 2px;">
            <form class="form-signin" (ngSubmit)="onSubmit(f)" #f="ngForm">
                <p style="color:#5d6163;">Step 1</p>
                <div class="row">
                    <div class="col-xs-2 col-sm-3 col-md-4 col-md-offset-1">
                        <div class="form-group has-feedback">
                            <label for="search" class="sr-only">Search</label>
                            <span class="glyphicon glyphicon-search form-control-feedback" style="left: 0;"></span>
                            <input type="text" id="address" class="form-control" ngModel name="pickAddress" placeholder="Pick Up Address" onclick="return false" style="padding-left: 30px;border-radius: 25px;border: 1px solid #31708f;" required/>
                            <span class="glyphicon glyphicon-map-marker form-control-feedback" title="Map Location"></span>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-1 col-md-1">
                        <img [src]="imagemap" class="image-input-2" type="image/png" />
                    </div>
                    <div class="col-xs-2 col-sm-1 col-md-1">
                        <p style="font-size: 25px;margin-top:-1px;margin-left: -16px;">To</p>
                    </div>
                    <div class="col-xs-2 col-sm-3 col-md-4">
                        <div class="form-group has-feedback">
                            <label for="search" class="sr-only">Search</label>
                            <span class="glyphicon glyphicon-search form-control-feedback" style="left: 0;"></span>
                            <input type="text" id="address_drop" class="form-control" ngModel name="dropAddress" placeholder="Drop Address" onclick="return false" style="padding-left: 30px;border-radius: 25px;border: 1px solid #31708f;" required/>
                            <span class="glyphicon glyphicon-map-marker form-control-feedback" title="Map Location"></span>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-1 col-md-1">
                        <img [src]="imagemap" class="image-input-2" type="image/png" />
                    </div>
                </div>
                <div class="row" style="margin-bottom:6px;">
                    <hr/>
                    <p style="color:#5d6163;margin-left:16px;">Step 2</p>
                    <div class="col-xs-2 col-sm-2 col-md-3 col-md-offset-1">
                        <img [src]="imageBag" class="image-input" type="image/png" />
                        <input type="text" class="form-control" ngModel name="itemName" style="margin-left: 40px;" placeholder="Item Name" required>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-3 col-md-offset-1">
                        <img [src]="imageusericon" class="image-input" type="image/png" />
                        <input type="text" class="form-control" ngModel name="receiverName" style="margin-left: 40px;" placeholder="Recepiant Name" required/>
                    </div>
                    <div class="col-xs-2 col-sm-4 col-md-3">
                        <button class="btn profile-6" type="submit" [disabled]="!f.valid">
                                <span style="border: 1px solid #fff;padding: 2px 2px;border-radius: 5px;margin-right: 5px;">
                                    <span class="glyphicon glyphicon-plus" style="margin-left: 2px;"></span></span> Add</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-3 col-md-offset-1">
                        <img [src]="imageupload" class="image-input-1" type="image/png" />
                        <input type="file" class="profile-1" id="Picture" style="margin-left: 35px;" accept="image/*" imageUpload (imageSelected)="selected($event)" [resizeOptions]="resizeOptions">

                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-3 col-md-offset-1">
                        <img [src]="imagecall" class="image-input" type="image/png" />
                        <input type="text" class="form-control" ngModel name="receiverPhone" style="margin-left: 40px;" placeholder="Phone Number" required/>
                    </div>
                    <div class="col-xs-2 col-sm-4 col-md-3">
                        <!-- <button class="btn profile-5" type="submit" onclick="return false" [disabled]="!length_arr" (click)="submit()">Submit {{length_arr}} Orders</button> -->
                        <button class="btn profile-5" type="submit" onclick="return false" [disabled]="!length_arr" (click)="submit()">Confirm {{length_arr}} Orders</button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-12">
                        <div class="form-group">
                            <label style="float:right;margin-right: 20px;font-size: 20px;">&#8377; {{this.deliverycharge}}/-( {{length_arr}} Orders)</label>

                        </div>
                    </div>
                </div>
                <div *ngIf="payment">
                    <div class="row" style="margin-bottom:8px;">
                        <hr/>
                        <p style="color:#5d6163;margin-left:16px;">Step 3</p>
                        <div class="col-xs-2 col-sm-2 col-md-12" [hidden]="hideElement">
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <label style="margin-top: 6px;">Payment Method:</label>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-3" *ngFor="let item of paymentMethod;let i = index" [attr.data-index]="i">
                                <div class="btn profile-4" (click)="payments(i)" [style.background-color]="payment_index(i)">{{item}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-xs-2 col-sm-2 col-md-12">
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <label style="margin-top: 6px;">Shipping Option:</label>
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3" *ngFor="let shipping of shippingOptions;let i = index" [attr.data-index]="i">
                                <div class="btn profile-4" (click)="shipping_indexs(i)" [style.background-color]="shipping_index(i)">{{shipping}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                      <div class="col-xs-2 col-sm-12 col-md-12">
                          <div class="col-xs-2 col-sm-2 col-md-4 col-md-offset-4">
                              <button class="btn profile-5" type="submit" [disabled]="!f.valid">Pay</button>
                          </div>
                      </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-3" style="margin-top: -7px;margin-bottom: -5px;">
        <div class="row">
            <h4 class="h4-order">{{length_arr}} Orders</h4>
            <div class="box-recent" style="margin-bottom: -35px;">

                <!--<table class="table">
                                <tr *ngFor="let item of drop">
                                <td>{{item.itemName}}</td>
                                <td>{{item.receiverPhone}}</td>
                                </tr>
                            </table>-->
                <table class="table table-border" align="center">
                    <tr *ngFor="let item of drop let i=index">
                        <td>
                            <div><a><span class="badge">{{ length_arr - i }}</span></a><span class="table-btn" (click)="remove(item)"><img [src]="imageDel" style="width: 7%;" type="image/png" /></span></div>
                            <div></div>
                            <table align="center" class="table">
                                <!-- <tr>
                                    <td style="border-top: none;"></td>
                                </tr> -->
                                <tr>
                                    <td style="border-top: none;width: 50%;"> Item Name: </td>
                                    <td style="border-top: none;width: 50%;">{{item.itemName}}</td>
                                </tr>
                                <tr>
                                    <td style="border-top: none;width: 50%;">From: {{item.pickAddress}}</td>
                                    <td style="border-top: none;width: 50%;">To: {{item.dropAddress}}</td>
                                </tr>
                                <tr>
                                    <td style="border-top: none;width: 50%;">Status: </td>
                                    <td style="border-top: none;width: 50%;">Scheduled
                                        <div class="green_circle"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-top: none;width: 50%;">Delivery: </td>
                                    <td style="border-top: none;width: 50%;"><span class="glyphicon glyphicon-refresh"></span></td>
                                </tr>
                                <tr>
                                    <td style="border-top: none;width: 50%;">Person Number: </td>
                                    <td style="border-top: none;width: 50%;">{{item.receiverPhone}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
<!-- End -->
<div class="modal" tabindex="-1" role="dialog" *ngIf="map_popup" style="margin-top: 10%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onErrorHandled()"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeControl]="true">
                    <sebm-google-map-marker [latitude]="lat" [longitude]="lng" [label]="'P'" [markerDraggable]="true" (dragEnd)="pos_pick($event)"></sebm-google-map-marker>
                    <sebm-google-map-marker [latitude]="lat_drop" [longitude]="lng_drop" [label]="'D'" [markerDraggable]="true" (dragEnd)="pos_drop($event)"></sebm-google-map-marker>

                </sebm-google-map>
            </div>
        </div>
    </div>
</div>
