/* Bulk Order Starts */

.image-input {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    top: -8px;
    left: 7px;
    width: 50px;
    height: 50px;
}

.image-input-2 {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    top: -4px;
    right: -40px;
    width: 40px;
    height: 40px;
}

.profile-4 {
    color: #000;
    border-radius: 0px;
    padding: 4px;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 0px;
    background-color: #DDD;
}

.profile-3 {
    color: #000;
    background-color: #ffffff;
    border-radius: 0px;
    padding: 5px 5px;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 0px;
}

.profile-5 {
    color: #FFFFFF;
    background-color: #cf2a27;
    border-radius: 3px;
    padding: 6px 10px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 13px;
    letter-spacing: 1px;
    margin-left: 50px;
    width: 144px;
}

.profile-6 {
    color: #FFFFFF;
    background-color: #37474f;
    border-radius: 3px;
    padding: 6px 38px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 50px;
}

.profile {
    color: #FFFFFF;
    background-color: #0b97c4;
    border-radius: 0px;
    padding: 6px 15px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: -16px;
}

.table-btn {
    color: #e87906;
    padding: 4px;
    position: relative;
    top: -10px;
    /*margin-bottom: -49px;*/
    left: 70%;
    cursor: pointer;
}

.green_circle {
    background-color: green;
    border-radius: 25px;
    width: 15px;
    height: 15px;
    float: right;
    margin-left: 0px;
    margin-top: 3px;
    margin-right: 26px;
}

.tdline {
    border-top: none;
}

.main-box {
    margin-top: 94px;
    border: 1px solid #000;
    padding: 15px 10px;
    margin-left: -89px;
    margin-right: -44px;
}

.head-package {
    position: absolute;
    top: 46px;
}

.image-input {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    top: -3px;
    left: 15px;
    width: 40px;
    height: 40px;
}

.image-input-1 {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    top: -10px;
    left: 15px;
    width: 40px;
    height: 40px;
}

.image-input-1 {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    top: -4px;
    left: 13px;
    width: 40px;
    height: 40px;
}

.image-input-2 {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    top: 0px;
    right: 30px;
    width: 35px;
    height: 35px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 1px 2px;
}

.sidenav[_ngcontent-xtn-3] {
    height: 700px;
}

input::-webkit-input-placeholder {
    color: #12a6f1 !important;
    font-weight: 400;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: #12a6f1 !important;
    font-weight: 400;
}

input::-moz-input-placeholder {
    /* Firefox 19+ */
    color: #12a6f1 !important;
    font-weight: 400;
}

input:-ms-input-placeholder {
    color: #12a6f1 !important;
    font-weight: 400;
}

.modal {
    display: block;
}

sebm-google-map {
    height: 300px;
}

.show-map {
    color: #FFFFFF;
    background-color: #0b97c4;
    border-radius: 0px;
    padding: 6px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: -19px;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 7px 13px;
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #333;
    border-radius: 0px;
    /* position: absolute; */
    /* top: 39px; */
    margin-top: -24px;
    margin-left: -3px;
}

hr {
    margin: 10px 18px 15px 20px;
    border: 0px;
    border-top: 1px solid #eee;
}

.h4-order {
    padding: 8px 10px;
    letter-spacing: 1px;
    color: #000;
    margin: 10px 5px 10px -7px;
    border: 2px solid #847e7e;
}

.table-border {
    border: 2px solid #847e7e;
    padding: 5px;
    margin-left: -5px;
    margin-top: 14px;
    margin-bottom: 40px;
    border-radius: 5px;
}


/* Bulk Order Ends */
