    .margin {
        margin: 0 !important;
    }
    
    .btn:hover {
        color: #FFF;
    }
    
    .leftlabel:hover {
        cursor: pointer;
    }
    
    .head {
        border-bottom: none;
    }
    
    .foot {
        border-top: none;
    }
    
    .bod {
        color: #7CB342;
    }
    
    .bg {
        background-color: #E6EE9C;
    }
    
    .modal {
        display: block;
    }
    /* Start Placeholder Style */
    
    input::-webkit-input-placeholder {
        color: #12a6f1 !important;
        font-weight: 400;
    }
    
    input:-moz-placeholder {
        /* Firefox 18- */
        color: #12a6f1 !important;
        font-weight: 400;
    }
    
    input::-moz-input-placeholder {
        /* Firefox 19+ */
        color: #12a6f1 !important;
        font-weight: 400;
    }
    
    input:-ms-input-placeholder {
        color: #12a6f1 !important;
        font-weight: 400;
    }
    /* End Placeholder Style */
    
    .glyphicon-refresh-animate {
        -animation: spin .7s infinite linear;
        -ms-animation: spin .7s infinite linear;
        -webkit-animation: spinw .7s infinite linear;
        -moz-animation: spinm .7s infinite linear;
    }
    
    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }
        to {
            transform: scale(1) rotate(360deg);
        }
    }
    
    @-webkit-keyframes spinw {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @-moz-keyframes spinm {
        from {
            -moz-transform: rotate(0deg);
        }
        to {
            -moz-transform: rotate(360deg);
        }
    }
    
    .font_style {
        font-size: 20px;
        color: #4FC3F7;
        font-weight: bold;
    }